*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
    inset 5px 5px 8px rgba(0,0,0,0.5);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f7f7f7;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 49, 49);
    border: 1px rgb(255, 255, 255) solid;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(151, 151, 151);
}
.gameboy{
    display: block;
    position: relative;
    background-color: #2222ff;
    width: 95vw;
    height: 90vh;
    border-radius: 23%;
    z-index: 999;
}
.gameboyBack{
    display: block;
    position: absolute;
    background-color: rgb(211, 211, 211);
    width: 95.2vw;
    height: 88vh;
    border-radius: 20%;
}
.gamepad{
    display: block;
    position: relative;
    width: 10%;
    height: 10%;
    top: 30%;
    left: 5%;
    .gamepadVerticalLine, .gamepadHorizontalLine{
        display: flex;
        position: absolute;
        width: 35px;
        height: 100px;
        background-color: rgb(209, 209, 209);
        left: 50%;
        span{
            display: block;
            position: relative;
            width: fit-content;
            height: fit-content;
            margin: 0 auto;
        }
    }
}
.gamepadVerticalLine{
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
}
.gamepadHorizontalLine{
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(90deg);
}
.buttonsMenu{
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60%;
    left: 10%;
    .buttonStart, .buttonSelect{
        display: block;
        position: relative;
        width: 100%;
        height: 30px;
        background-color: #2222ff;
        border-radius: 30px;
        margin: 10px 0px;
        transform: rotate(10deg);
        text-align: center;
        border: 1px solid rgb(52, 53, 82);
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5),
            inset 5px 5px 8px rgba(0,0,0,0.5);
        p{
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        .whiteButton{
            display: block;
            position: absolute;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: white;
            right: 0px;
            top: 0px;
            border: 2px solid rgb(52, 53, 82);
        }
    }
}
.powerButton{
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 50%;
    top: 10%;
    right: 20%;
    p{
        display: block;
        position: absolute;
        left: 120%;
        line-height: 30px;
        font-weight: 900;
        font-size: 1.5rem;
    }
}
.buttonsAction *{
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(209, 209, 209);
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}
.buttonA{
    top: 30%;
    right: 5%;
}
.buttonB{
    top: 35%;
    right: 10%;
}
.lines{
    display: block;
    position: absolute;
    top: 60%;
    right: 10%;
    width: 100px;
    height: 300px;
    .line{
        display: block;
        position: relative;
        width: 100%;
        height: 10px;
        background-color: black;
        border-radius: 10px;
        transform: rotate(-10deg);
        margin: 5px 0;
    }
}
.buttonsPageContainer{
    display: flex;
    position: relative;
    top: 20px;
    justify-content: space-between;
    form{
        display: inline-block;
        position: relative;
        margin: 0 15px;
        .btnChangePage{
            background-color: rgb(0, 81, 255);
            border: 2px black solid;
            padding: 5px;
            border-radius: 10px;
            &:hover{
                border-color: orange;
            }
        }
    }
}
.screen{
    display: block;
    position: relative;
    margin: auto;
    width: 50%;
    height: 80%;
    background-color: rgb(194, 194, 194);
    padding: 5px;
    border-radius: 50px;
    border: 10px black solid;
    // changing font color to everything inside screen
    *{
        color: white;
    }
    .btnBack{
        display: block;
        position: absolute;
        left: 20px;
        background-color: rgb(0, 81, 255);
        border: 2px black solid;
        padding: 5px;
        border-radius: 10px;
        &:hover{
            border-color: orange;
        }
    }
    .userInfoContainer{
        display: block;
        width: fit-content;
        position: relative;
        margin: 0 auto;
        background-color: rgb(0, 119, 255);
        border-radius: 10px;
        border: 3px rgba(0, 0, 0, 0) solid;
        margin: 5px auto;
    }
    .pokemonsContainer{
        display: grid;
        position: relative;
        height: 80%;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 10px;
        overflow: auto;
        .pokemonInfo{
            display: block;
            position: relative;
            background-color: rgb(0, 119, 255);
            border-radius: 10px;
            border: 1px black solid;
            width: 250px;
            margin: 0 auto;
            .namePokemon, .type{
                display: block;
                margin: 0 auto;
                width: fit-content;
            }
            .namePokemon{
                font-size: 1.5rem;
                padding: 5px;
                border-radius: 10px;
            }
            .imgPokemon{
                display: block;
                margin: 0 auto;
                width: fit-content;
            }
            .btnAdd{
                display: block;
                width: 100px;
                height: 20px;
                margin: 0 auto;
                background-color: rgb(255, 35, 35);
                border-radius: 10px;
            }
        }
    }
}